$color-purple = #AA54CA;
$color-gray   = #EDEDED;
$color-blue   = #698FFF;

$breakpoints =  {
  mobile  : 'only screen and (max-width: 710px)',
  desktop : 'only screen and (min-width: 711px)'
}

@import 'kouto-swiss';

@require 'main/fonts';
@require 'main/mixins';
@require 'main/base';
@require 'main/blocks/*';
