.b-logo {
  padding: 0 10px;
  text-align: center;
  position: relative;

  +breakpoint(desktop) {
    padding: 80px 0 0;
  }

  +breakpoint(mobile) {
    padding: 40px 0 0;

    img {
      max-width: 280px;
    }
  }
}
