.b-message {
  border-radius: 24px;
  position: relative;

  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
  white-space: pre-line;

  +breakpoint(mobile) {
    padding: 10px 20px;
    line-height: 22px;
    font-size: 16px;
    max-width: 300px;
  }

  +breakpoint(desktop) {
    padding: 12px 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 300;
    max-width: 320px;
  }

  &.is-ready {
    opacity: 1;
    visibility: visible;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__left {
    background-image: linear-gradient(to right, #779AFF 0%, #ECB8FF 100%);
    color: #fff;

    &::after {
      left: -6px;
      background-image: url('images/message-arrow__left.svg');
    }
  }

  &__right {
    background: $color-gray;

    &::after {
      right: -7px;
      background-image: url('images/message-arrow__right.svg');
    }
  }
}
